<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silencecork.gcm.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.silencecork.gcm.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="com.silencecork.gcm.demo.permission.C2D_MESSAGE" />
    
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        
        <activity
            android:name="com.silencecork.gcm.demo.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".PushNotificationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        
        <receiver
            android:name="com.silencecork.gcm.demo.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.silencecork.gcm.demo" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.silencecork.gcm.demo.GCMIntentService" />
    </application>

</manifest>
